{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Accueil {% endblock %}

{% block body %}
<h1 class="pt-5">BIENVENUE SUR MON APPLICATION DE GESTION DES CONTACTS </h1>

{% endblock %}
